<html>
<head>
    <style>
    
        .error-container {
            background-color: white;
            border: 5px solid black;
           
            padding: 10px;
            max-width: 300px;
            max-height: 300px;
            margin: 0 auto;
            text-align: center;
            
        }

        .error-container h1 {
            color: #ff3333;
            font-size: 24px;
        }

        .error-container p {
            color: black;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1>An Error has Occurred</h1>
        <p>{{data.message}}</p>
    </div>
</body>
</html>